@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
@mixin flexbetween {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
}

@mixin flexwrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@mixin flexcenterwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flexleft {
    display: flex;
    align-items: center;
    justify-content: left;
    
}